table, th, td {
    border:1px solid black;
}
* {
    box-sizing: border-box;
}
        [class*="col-"] {
        width: 100%;
}

@media only screen and (min-width: 768px) {

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

[class*="col-"] {
float: left;
padding: 15px;
border: 2px solid rgb(255, 255, 255);
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400%;
    font-weight: 800;
    font-style: oblique;
    color:rgb(255, 255, 255)
}

.row::after {
content: "";
clear: both;
display: table;
} 

.regular-img {
max-width: 100%;
height: auto;
}

.same-size-img {
    float: left;
    width:  500px;
    height: 500px;
    object-fit: cover;

}

.overflow {
overflow-x:auto;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Dylan CSS Elements */
    .dylan-img
    {
        float: left;
        width:  400px;
        height: 400px;
        object-fit: cover;
    }
    .dsm-base-font {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 300%;
        font-weight: bold;
        color: rgb(37, 80, 57);
    }
    .dsm-hover {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 300%;
        font-weight: bold;
        color: rgb(37, 80, 57);
    }
    .dsm-hover:hover {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 300%;
        font-weight: bold;
        color: rgb(90, 187, 135);
    }
    .dylan-strengths-img {
        float: left;
        width:  390px;
        height: 390px;
        object-fit: cover;
    }
   
    .dylan-small-icon-img {
        float: left;
        width:  300px;
        height: 300px;
        object-fit: cover;
    }
    .dsm-center {
        margin: auto;
        width: 50%;
      }
    .dsm-smaller-base-font {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 200%;
        font-weight: bold;
        color: rgb(37, 80, 57);
    }

    /* Hover over image, show text, CSS below */

        /* Parent Container */
        .content_img{
        position: relative;
        width: 200px;
        height: 200px;
    }
    
    /* Child Text Container */
    .content_img div{
        position: absolute;
        bottom: 0;
        right: 0;
        background: black;
        color: white;
        margin-bottom: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0s, opacity 0.5s linear; 
        transition: visibility 0s, opacity 0.5s linear;
    }
    
    /* Hover on Parent Container */
    .content_img:hover{
        cursor: pointer;
    }
    
    .content_img:hover div{
        width: 150px;
        padding: 8px 15px;
        visibility: visible;
        opacity: 0.7; 
    }

    /*willy css*/
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Playfair Display', serif;
 }
    .wc-nav
    {
        
        width: 100%;
        height: auto;
        background-color: #77240b;
        line-height: 60px;
        padding: 0px 100px;
        position: fixed;       
        display: flex;        
    }
    @media (max-width: 400px)
    {
        .wc-nav 
        {
           flex-direction: column;
           
        }
        
    }
    .wc-nav-logo
    {
        font-size: 28px;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 1.0px;
        padding-right: 50px;
        float: left;

    }
    nav .wc-nav-logo p
    {
        float:left;
        color: #fff;
        text-transform: uppercase;
    }
    
    .wc-nav-ul
    {
        float: right;
    }
    nav .wc-nav-ul li
    {
        display: inline-block;
        list-style: none;
        
    }
       
    nav .wc-nav-ul li a
    {
        color: #fff;
        text-decoration: none;
        font-size:  18px;
        text-transform: uppercase;
        padding: 5px 30px;
        
    }
    nav .wc-nav-ul li a:hover
    {
        color:#dd8844;
    }

    nav ul li .active
    {
        color: #ffab66;
    }

    .wc-bio-img 
    {
        padding-top: 100px;
        max-width: 75%;
        height: auto;
        padding-left: 15px;
       padding-right: 15px;
       padding-top: 100px;
       flex-grow: 0;
       flex-shrink: 0;
       flex-basis: 50%;
   }
   .wc-bio-column
   {
       max-width: 50%;
       position: relative;
       padding-left: 15px;
       padding-right: 15px;
       padding-top: 100px;
       flex-grow: 0;
       flex-shrink: 0;
       flex-basis: 50%;
       
 }
 .wc-row 
 {
     display:flex;
     flex-wrap: nowrap;
     margin-right: -15px;
     margin-left: -15px;

 }

 .wc-bio-h1 
 {
     font-size: 2.25rem;
     font-family: 'Playfair Display', serif;

 }
 .wc-bio-p1 
 {
     font-size: 1.5rem;
     font-family: 'Playfair Display', serif;

 }
    
 .wc-css-selector {
    background: linear-gradient(296deg, #b4713a, #f0af6a, #f7d59c, #ffffff);
    background-size: 800% 800%;

    -webkit-animation: Wc-Gradient-Anim 31s ease infinite;
    animation: Wc-Gradient-Anim 31s ease infinite;
}

@-webkit-keyframes Wc-Gradient-Anim {
    0%{background-position:0% 57%}
    50%{background-position:100% 44%}
    100%{background-position:0% 57%}
}
@keyframes Wc-Gradient-Anim {
    0%{background-position:0% 57%}
    50%{background-position:100% 44%}
    100%{background-position:0% 57%}
}

