/*willy css*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif !important;
}
/* nav */
.menu-bar
{
    width: 100%;
    height: auto;
    background-color: #77240b;
    line-height: 60px;
    padding: 0px 100px;
           
    display: flex;
    z-index: 1;
    
}
@media (max-width: 400px)
{
    .navbar
    {
       flex-direction: column;
       
    }
    
}
.navbar-brand
{
    font-size: 28px !important;
    font-weight: bold !important;
    font-style: italic !important;
    letter-spacing: 1.0px !important;
    padding-right: 0 px !important;
    

}
nav .navbar-brand
{
    float:left !important;
    color: #fff !important;
    text-transform: uppercase !important;
}

.navbar-nav
{
    float: right;
}
nav .navbar-nav li
{
    display: inline-block;
    list-style: none;
    
}
   
.nav-link
{
    color: #fff !important;
    text-decoration: none;
    font-size:  18px;
    text-transform: uppercase;
    padding: 50px 30px;
    text-align: right;
    
}
nav .navbar-nav li a:hover
{
    color:#dd8844 !important;
}


nav ul li .active2
{
    color: #ffab66;
}

/* bio */

.wc-bio-img 
{
    padding-top: 100px;
    max-width: 100%;
    height: 100%;  
    width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 100px;
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 100%;
   box-shadow: #77240b;
   margin-top: 100px;
   
}
.wc-bio-column
{
   max-width: 100%;
   position: relative;
   padding-left: 15px;
   padding-right: 50px;
   padding-top: 100px;
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 50%;
   
   
}

.bio-wc-row 
{
    z-index: 2;
    display:flex;
    width: 100%;
    position: relative;
    grid-column: 2;
    grid-row: 2;
    text-align: center;

}


.wc-bio-h1 
{
 font-size: 2.25rem;
 font-family: 'Playfair Display', serif;
 color: #611f0b;

}
.wc-bio-p1 
{
 font-size: 1.5rem;
 font-family: 'Playfair Display', serif;
 color: #611f0b;

}
.wc-skills {
    font-size: 2.25rem;
 font-family: 'Playfair Display', serif;
 text-align: center;
 color: white;
 margin: 1 em;

 

}
.wc-skills-section {
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-align: left;
    height: 1000px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, .5)), url("BryceCanyon-Clay.jpg");
        
}




.p-skills {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    position: relative;
}



.skills-margin {
    margin-bottom: 4em;
    column-count: 2;
    column-width: 300px;
    column-gap: 2em;
}

.skills-max-width {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }    
}

/*background gradient */

.wc-css-selector {
background: linear-gradient(296deg, #b4713a, #f0af6a, #f7d59c, #ffffff);
background-size: 800% 800%;

-webkit-animation: Wc-Gradient-Anim 31s ease infinite;
animation: Wc-Gradient-Anim 31s ease infinite;
}

@-webkit-keyframes Wc-Gradient-Anim {
0%{background-position:0% 57%}
50%{background-position:100% 44%}
100%{background-position:0% 57%}
}
@keyframes Wc-Gradient-Anim {
0%{background-position:0% 57%}
50%{background-position:100% 44%}
100%{background-position:0% 57%}
}

/* footer */

.footer
{
    
    width: 100%;
    height: 100px;
    background-color: #411406 !important;
    
    left: 0px;
    bottom: 0px;
    text-align: center;
    background: linear-gradient(rgba(148, 106, 17, 0.2),rgba(0, 0, 0, .5));    
}
.footer-text 
{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 18px;

}
.footer-text-list
{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 14px;

}
a, a:hover {
	text-decoration: none;
}
/* https://codepen.io/vpdemo/pen/dPdymj */

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 8px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
    height: 28px;
	color: #000;
	background-color: rgb(212, 179, 88);
	border: 1px solid #000;
	padding-top: 6px;
	border-radius: 24px;
	-moz-border-radius: 24px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.socialbtns .fa:hover {
	color: #FFF;
	background-color: #000;
	border: 1px solid #000;
}

/*anim */

html {
	height: 100%;
	margin: 0;
	padding: 0;
	
}

@keyframes slide {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translateX(0px);
        right: 0px;
	}
	50% {
		box-shadow: 0 25px 15px 0px rgb(153, 25, 25);
		transform: translateX(75px);
        right: 200px;
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatex(0px);
        right: 100px;
	}
}

.container2 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin-top: 200px;
    margin-left: 100px;
}



.animation2 {
	width: 350px;
	height: 350px;
	box-sizing: border-box;
	border: 5px rgb(63, 59, 59) solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatex(0px);
	animation: slide 10s infinite;
    animation-name: slide;
    
}










