@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/* General CSS */
table, th, td {
    border:1px solid black;
}
* {
    box-sizing: border-box;
}
        [class*="col-"] {
        width: 100%;
}

@media only screen and (min-width: 768px) {

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

[class*="col-"] {
float: left;
padding: 15px;
}

.heading {
    background-color: rgb(71, 71, 71); 
    box-shadow: 10px 5px 5px black;
    border-radius: 5%;
}

.home-page h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 400%;
    font-weight: 800;
    font-style: oblique;
    color:rgb(255, 255, 255);
    text-align: center;
}

.home-page h2 {
    font-size: 200%;
    text-align: center;
}

.home-page img {
    border-radius: 50%;
}

.style-styling {
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    margin: auto;
    left: 1%;
    bottom: 0%;
    border-radius: 50%;
    background-color: red;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes move {
    25% {
        background-color: green;
    }

    50% {
        left: 50%;
        background-color: yellow;
    }

    75% {
        background-color: green;
    }
}

.names {
    color: white;
}
.row::after {
content: "";
clear: both;
display: table;
} 

.regular-img {
max-width: 100%;
height: auto;
}

.same-size-img {
    float: left;
    width:  350px;
    height: 350px;
    object-fit: cover;

}

.overflow {
overflow-x:auto;
}

.videowrapper iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* General Nav Bar */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.wc-nav
{
    
    width: 100%;
    height: auto;
    background-color: #0f5a22;
    line-height: 60px;
    padding: 0px 100px;
           
    display: flex;
    z-index: 999999;
    
    position: fixed;
}
@media (max-width: 400px)
{
    .wc-nav 
    {
       flex-direction: column;
       
    }
    
}
.wc-nav-logo
{
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.0px;
    padding-right: 0 px;
    

}
nav .wc-nav-logo p
{
    float:left;
    color: #fff;
    text-transform: uppercase;
}

.wc-nav-ul
{
    float: right;
}
nav .wc-nav-ul li
{
    display: inline-block;
    list-style: none;
    
}
   
nav .wc-nav-ul li a
{
    color: #fff;
    text-decoration: none;
    font-size:  18px;
    text-transform: uppercase;
    padding: 50px 30px;
    text-align: right;
    
}
nav .wc-nav-ul li a:hover
{
    color:#246cf1;
}

nav ul li .active
{
    color: #ffffff;
}
.wc-css-selector {
    background: linear-gradient(296deg, #b4713a, #f0af6a, #f7d59c, #ffffff);
    background-size: 800% 800%;

    -webkit-animation: Wc-Gradient-Anim 31s ease infinite;
    animation: Wc-Gradient-Anim 31s ease infinite;
}

/* Dylan CSS Elements */    
    body {
        text-align: center;
    }
    .dsm-base-font {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 300%;
        font-weight: bold;
        color: rgb(37, 80, 57);
    }
    .dsm-remove-underline {
        text-decoration: none;
    }
    .dsm-background-1 {
        background-color: rgb(182, 181, 181);
    }
    .dsm-hover {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 300%;
        font-weight: bold;
        color: rgb(37, 80, 57);
    }
    .dsm-hover:hover {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 300%;
        font-weight: bold;
        color: rgb(90, 187, 135);
    }
    .dylan-strengths-img {
        width:  390px;
        height: 390px;
        object-fit: cover;
        border-radius: 50%;
    }
    .dylan-strengths-img:hover {
        filter: hue-rotate(80deg);
        transform: scale(1.1);

        visibility: visible;
        opacity: 1;
    }

    .bw-fix {
        width:  390px;
        height: 390px;
        object-fit: cover;
        border-radius: 50%;
    }

    .bw-fix:hover {
        filter: invert();
        transform: scale(1.1);

        visibility: visible;
        opacity: 1;
    }

    .dylan-other-img {
        width:  390px;
        height: 390px;
        object-fit: cover;
        border-radius: 50%;
    }

    .dylan-small-icon-img {
        float: left;
        width:  300px;
        height: 300px;
        object-fit: cover;
    }
    .dsm-center {
        margin: auto;
        width: 50%;
      }
    .dsm-smaller-base-font {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 200%;
        font-weight: bold;
        color: rgb(37, 80, 57);
    }
    .dsm-portfolio-1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 300%;
        font-weight: bold;
        color: rgb(192, 135, 28);
    }
    .dsm-portfolio-2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 300%;
        font-weight: bold;
        color: rgb(26, 245, 245);
    }
    .dsm-portfolio-3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 200%;
        font-weight: bold;
        color: rgb(123, 23, 190);
    }
    .dsm-about-1   {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    font-weight: bold;
    color: rgb(37, 80, 57);
    }
    .dsm-about-2   {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: rgb(37, 80, 57);
    }
    .dsm-about-3   {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-size: 130%;
    font-weight: bold;
    color: rgb(75, 74, 74);
    }
    .dsm-about-4   {
        font-family: sans-serif;
        font-size: 120%;
        font-weight: bold;
        color: rgb(75, 74, 74);
        }

    .logo-1 {
        border-radius: 50%;
        position: relative; left: 0px; bottom: 0px;
        flex: auto;
        width: 400px;
        height: 400px;
    }

    .logo-2 {
        position: relative; left: 0px; bottom: 0px;
        flex: auto;
        width: 400px;
        height: 400px;

    }

    #logo-animation-1 {
        animation-name: logo-animation-1;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes logo-animation-1 {
        0%   {position: relative; left: 0px; transform: scale(0.9);}
        8% {z-index: 1;}
        25% {transform: scale(1.0);}
        50%  {position: relative; left: 400px; transform: scale(0.9);}
        75% {transform: scale(0.8);}
        100% {position: relative; left: 0px; transform: scale(0.9);}
      }

    #logo-animation-2 {
        animation-name: logo-animation-2;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes logo-animation-2 {
        0%   {position: relative; left: 0px; transform: scale(0.9);}
        25% {transform: scale(0.8);}
        50%  {position: relative; left: -400px; transform: scale(0.9);}
        75% {transform: scale(1.0);}
        100% {position: relative; left: 0px; transform: scale(0.9);}
      }



    .footer-left{
        position: fixed;
        width: 20%;
        height: 100px;
        left: 0px;
        bottom: 0px;
        text-align: center;
        background: linear-gradient(rgba(54, 187, 49, 0.2),rgba(39, 54, 37, 0.5)); 
    }

    .footer-right {
        position: fixed;
        width: 80%;
        height: 100px;
        right: 0px;
        bottom: 0px;
        text-align: center;
        background: linear-gradient(rgba(54, 187, 49, 0.2),rgba(39, 54, 37, 0.5)); 
    }

    .footer-header {
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-family: 'Lato', sans-serif;
        margin-top: 40px;
        margin-left: 1600px;
    }

    /* https://codepen.io/laurenclark/pen/YzKRxW */

    .footer-social-icons {
        width: 350px;
        display:block;
        margin-left: 100px;
    }
    .social-icon {
        color: #fff;
    }
    ul.social-icons {
        margin-top: 30px;
        margin-right: 40px;
        transform: scale(1.5);
    }
    .social-icons li {
        vertical-align: left;
        display: inline;
        height: 100px;
    }
    .social-icons a {
        color: #fff;
        text-decoration: none;
    }
    .fa-instagram {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-instagram:hover {
        background-color: #b339b8;
    }
    .fa-twitter {
        padding:10px 12px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-twitter:hover {
        background-color: #00aced;
    }
    .fa-inbox {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-inbox:hover {
        background-color: #777777;
    }
    .fa-youtube {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-youtube:hover {
        background-color: #f12c22;
    }
    .fa-linkedin {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-linkedin:hover {
        background-color: #0073a4;
    }
    .fa-github {
        padding:10px 14px;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition: .5s;
        background-color: #322f30;
    }
    .fa-github:hover {
        background-color: #5a32a3;
    }